<h1 class="home">WELCOME TO OUR INTELLIGENT STUPID COACH👺🤡</h1>
<%= link_to "aller sur le questionnaire", question_path %>
<form action="/question" method="get">
  <input type="text" name="question" placeholder="puts what you want!!">
  <p>give title to the page</p>
  <input type="text" name="title" placeholder="puts what you want!!">
  <input type="submit">
</form>
